html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --main-background-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;

  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Ulilities */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  font-family: Raleway, bold;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.logo-item {
  color: var(--accent-color);
}

.logo-down {
  color: #ffffff;
}

/* Site nav */

nav {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* .site-nav .snitem:not(last-child) {
   margin-right: 50px;
} */

.site-nav.list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: currentColor;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */

.contacts.list {
  display: flex;
  margin-left: auto;
}

.contacts.list .item + .item {
  margin-left: 50px;
}

.contacts .contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.contacts .contact:hover,
.contacts .contact:focus {
  color: var(--accent-color);
}

.icon-envelope {
  fill: currentColor;
  margin-right: 10px;
}

.icon-enlope:hover,
.icon-enlope:focus {
  column-fill: var(--accent-color);
}

.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.icon-smartphone:hover,
.icon-smartphone:focus {
  column-fill: var(--accent-color);
}

/* Body index */

/* Hero */

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2f303a;
  text-align: center;
  text-transform: uppercase;
}

.button {
  min-width: 200px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  color: #ffffff;
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover {
  background-color: #188ce8;
}

/* Section Utilites */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
  text-align: center;
}

/* Section features */

.features.section {
  padding-bottom: 0;
}

.features.list {
  display: flex;
  gap: 30px;
}

.feature.list .item {
  width: 270px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
}

/* .features.list .item + .item {
   margin-left: 30px;
} */

.feature-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);

  text-transform: uppercase;
}

.description {
  width: 270px;
  line-height: 1.71;
}

/* Section What we do */

.wedo.list {
  display: flex;
}

.wedo.list .item + .item {
  margin-left: 30px;
}

/* Section Our team */

.section.team {
  background-color: #f5f4fa;
}

.team.list {
  display: flex;
}

.team.list .item + .item {
  margin-left: 30px;
}

.team.list .card {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
}

.foto {
  display: block;
}

.teammate-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
}

/* .social-links .item {
  min-width: 44px;
  min-height: 44px;

  background-color: tomato;
} */

/* .social-links .item + .item {
  margin-left: 10px;
} */

.social-links .link-icon {
  fill: #afb1b8;
}

.social-links .link-icon:hover,
.social-links .link-icon:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

/* Clients */

.section.clients {
  padding-top: 0;
}

.section-title.clients {
  margin-bottom: 40px;
}

.clients.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients.list .item {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients.list .item:hover,
.clients.list .item:focus {
  border: 1px solid var(--accent-color);
}

.client-icon {
  fill: #afb1b8;
}

.client-icon:hover,
.client-icon:focus {
  fill: var(--accent-color);
}

/* Portfolio */

.filters.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .filter {
  min-width: 73px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.filters.list .item + .item {
  margin-left: 8px;
}

.filters .filter:hover,
.filters .filter:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filters .active-btn {
  background-color: var(--accent-color);
  color: #ffffff;
}

.button,
.filter {
  cursor: pointer;
}

/* Our works */

.works.list {
  display: flex;
  flex-wrap: wrap;
}

.works.list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works.list .item:nth-child(3n) {
  margin-right: 0;
}

.works.list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-image {
  display: block;
}

.work-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
}

.type {
  font-size: 16px;
  line-height: 1.88;
}

/* Footer */

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 1.71;
  background-color: #2f303a;
}

.logo.secondary {
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  color: #ffffff;
}

.contacts-footer .item {
  margin-top: 9px;
}

.contact-down {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contacts-footer .contact-down:hover,
.contacts-footer .contact-down:focus {
  color: var(--accent-color);
}

.socials {
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.link .link-icon.footer {
  fill: #ffffff;
}

.link-icon.footer:hover,
.link-icon.footer:focus {
  background-color: var(--accent-color);
}
